---
layout: default
title: Wikipedia
---

{% include nav.html %}

<div class="container">
    {% include header.html %}
    {% include main.html %}
        
    <section class="section">
        <h3 class="section__h3">other areas of wikipedia</h3>
        <ul>
            <li><a href="#">community portal</a> Bulletin board....</li>
            <li><a href="#">community portal</a> Bulletin board....</li>
            <li><a href="#">community portal</a> Bulletin board....</li>
        </ul>
    </section>
        
    <section class="section">
        <h3 class="section__h3">wikipedia sister project</h3>
        <p class="section__p">Wikipedia is hosted by the Wikimedia Foundation, a non-profit organization that also hosts a range of other projects:</p>
        <div class="section__div">
            <img src="images/common-logo.png" alt="common logo">
            <div>
                <p>commons</p>
                <p>Free media repository</p>
            </div>
        </div>
    </section>
        
    <section class="section">
        <h3 class="section__h3">Wikipedia languages</h3>
        <p class="section__p">This Wikipedia is written in English. Started in 2001, it currently contains 5,537,741 articles. Many other Wikipedias are available; some of the largest are listed below.</p>
        <ul>
            <li>more than 1,000,000 articles</li>
            <li>more than 1,000,000 articles</li>
            <li>more than 1,000,000 articles</li>
        </ul>
    </section>
    {% include footer.html %}
</div>

