<nav>
    <div>
        <img src="images/snow-man.jpg" alt="snow man">
        <h1>Wikipedia</h1>
        <p>cool as heck snowman</p>
    </div>
    <ul>
        <li><a href="#">main page</a></li>
        <li><a href="#">Content</a></li>
        <li><a href="#">Featured content</a></li>
    </ul>
    <section>
        <h3>Interaction</h3>
        <ul>
            <li><a href="#">help</a></li>
            <li><a href="#">help</a></li>
            <li><a href="#">help</a></li>
        </ul>
    </section>
    <section>
            <h3>Interaction</h3>
            <ul>
                <li><a href="#">help</a></li>
                <li><a href="#">help</a></li>
                <li><a href="#">help</a></li>
            </ul>
        </section>
</nav>